/*base*/
body {
  background-color: #fff;
  font-size: 21px;
  line-height: 29px;
  color: #615e4c;
  font-weight: 100;
  -webkit-font-smoothing: antialiased;
}
h1 {
  color: #fff;
  font-weight: 100;
}
h2 {
  color: #354046;
  line-height: 36px;
  font-weight: 100;
}
h4 {
  color: #146b8f;
  font-weight: 100;
}
a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: #df5737;
}
pre {
  font-size: 70%;
  line-height: normal;
}
/*common font styles*/
.fnt-thin {
  font-weight: 100;
}
.fnt-less-focus {
  font-size: .875em;
}
.fnt-small {
  font-size: small;
}
/* helpers */
.h-txt-algn-c {
  text-align: center;
}
/*grid*/
.row {
  width: auto;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
.col {
  float: none;
  box-sizing: border-box;
  padding: 20px;
  word-wrap: break-word;
}
.fifty,
.thirty,
.quarter,
.threeQuarter,
.twenty,
.ten {
  width: 100%;
}
/*add your layout classes here*/
.logo,
.main-content,
.main-sidebar,
.info,
.social-media,
.links {
  float: none;
  box-sizing: border-box;
  padding: 20px;
  word-wrap: break-word;
}
.l-header {
  background-color: #061524;
  text-align: center;
}
.l-footer {
  background-color: #f6f6f6;
  padding: 20px;
}
.btn {
  display: inline-block;
  padding: 5px 10px;
}
.btn-outline {
  border: 1px	solid	#df5737;
  border-radius: 3px;
  margin: auto;
}
@media only screen and (min-width: 640px) {
  /*the layout goes here*/
  .main-content {
    float: left;
    padding: 20px 40px;
    width: 50%;
  }
  .main-sidebar {
    float: left;
    padding: 20px 40px;
    width: 50%;
  }
  .info {
    float: left;
    padding: 20px 40px;
    width: 100%;
    background-color: rgba(218, 217, 208, 0.98);
    color: #555;
  }
  .info h4 {
    color: #888;
  }
  .social-media {
    float: left;
    padding: 20px 40px;
    width: 50%;
  }
  .links {
    float: left;
    padding: 20px 40px;
    width: 50%;
  }
  .col {
    float: left;
    padding: 20px 40px;
  }
  .full {
    width: 100%;
  }
  .fifty {
    width: 50%;
  }
  .thirty {
    width: 33.333333%;
  }
  .quarter {
    width: 25%;
  }
  .threeQuarter {
    width: 75%;
  }
  .twenty {
    width: 20%;
  }
  .ten {
    width: 10%;
  }
}
@media only screen and (min-width: 640px) and (max-width: 960px) {
  .info {
    width: 100%;
  }
  .social-media {
    width: 50%;
  }
  .links {
    width: 50%;
  }
}
